@using DrinkVendingMachine.Models
@model AdminModel


<div class="row">
    <h1>Монеты для сдачи</h1>
    
    @foreach (var coin in Model.Coins)
    {
        <div class="col-md-3">
            
            <h1>@coin.Denomination</h1>
            <div>Кол-во: @coin.Count</div>
            @if (coin.Lock)
            {
                <div>Заблокирован приём</div>
            }
            <div>@Html.ActionLink("Редактировать", "Coin", "Admin", new { id = coin.Id }, null)</div>
            
        </div>
    }
</div>

<div class="row">
    <h1>Напитки</h1>
            
    <div>@Html.ActionLink("Добавить новый напиток", "Drink", "Admin", new { id = 0 }, null)</div>
        
    @foreach (var drink in Model.Drinks)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img style="width: 300px; max-width:300px" src="@Url.Action( "GetImageFile", "Image", new { drinkId = drink.Id } )">
                <div class="caption">
                    <h3>Цена: @drink.Cost, Кол-во: @drink.Count</h3>
                    <p>
                        <span>Сортировка: @drink.Ord</span>
                    </p>
                    <p>
                        @Html.ActionLink("Редактировать", "Drink", "Admin", new { id = drink.Id }, null)
                        @Html.ActionLink("Удалить", "DeleteDrink", "Admin", new { id = drink.Id }, null)
                    </p>
                </div>
            </div>
        </div>
    }
    
</div>